#-------------------------------------------------
# Files to be ignored by Git
#-------------------------------------------------

# Composer 3rd-party software
/vendor

# Composer PHP archive file
composer.phar

# tests directories
/tests

# setup file containing sensitive information
setup.php
